*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.post {
    font-size: medium;
    width: 100%;
    height: auto;
    border-style: none none dashed solid ;
    border-width: 2px;
    padding: 20px 30px 40px 30px;
    display: flex;
    align-items: center;
}

.stat {
    text-align: center;
    float: left;
    width: auto;
    height: auto;
    border: 1px solid black;
    padding: 5px;
}

.summary {
    padding: 0 0 0 20px;
}